* {
    margin: 0;

    color: var(--colorPalette1);
    text-shadow: 1px 1px 5px #555555;
    font-size: 15px;
    transition: 200ms;
    box-sizing: border-box;
}

/* HEADER FOOTER MAIN STUFF --------------------------------*/

header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--colorBorder);
    background-color: var(--colorHeader);
}


footer {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid var(--colorBorder);
    text-align: center;
    background-color: var(--colorFooter);
}


footer > span {
    background: white;
    text-shadow: none;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: var(--colorBGBody);
}

main {
    padding: var(--mainPadding);
    /* background-color: white; /* debug */
    padding-bottom: 10em; /* temp */
}

.header-name-text {
    background-color: #8EC5FC;
    background-image: linear-gradient(
        62deg,
        #d04b36 0%,
        #d04b36 16.6666%,
        #e36511 16.6666%,
        #e36511 33.333%,
        #ffba00 33.333%,
        #ffba00 50%,
        #00b180 50%,
        #00b180 66.6666%,
        #147aab 66.6666%,
        #147aab 83.3333%,
        #675997 83.3333%,
        #675997 100%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    font-size: 20px;
}
.header-name-info {
    text-align: center;
    padding-bottom: 0.5em;
}

.header-list-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5em;
    background-color: var(--colorHeader);
}



/*--------------------------------*/
a.discord-link {
    color: var(--colorDiscord);
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

a.discord-link:hover, a.discord-link:active {
    color: var(--colorDiscordLighter);
    font-weight: bold;
}


a.instagram-link {
    color: var(--colorInstagram);
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

a.instagram-link:hover, a.instagram-link:active {
    color: var(--colorInstagramLighter);
    font-weight: bold;
}


a.twitch-link {
    color: var(--colorTwitch);
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

a.twitch-link:hover, a.twitch-link:active {
    color: var(--colorTwitchLighter);
    font-weight: bold;
}


a.youtube-link {
    color: var(--colorYoutube);
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

a.youtube-link:hover, a.youtube-link:active {
    color: var(--colorYoutubeLighter);
    font-weight: bold;
}


a.spotify-link {
    color: var(--colorSpotify);
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

a.spotify-link:hover, a.spotify-link:active {
    color: var(--colorSpotifyLighter);
    font-weight: bold;
}


a.github-link {
    color: var(--colorGithub);
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

a.github-link:hover, a.github-link:active {
    color: var(--colorGithubLighter);
    font-weight: bold;
}


a.namemc-link {
    color: var(--colorNamemc);
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

a.namemc-link:hover, a.namemc-link:active {
    color: var(--colorNamemcLighter);
    font-weight: bold;
}


a.osu-link {
    color: var(--colorOsu);
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

a.osu-link:hover, a.osu-link:active {
    color: var(--colorOsuLighter);
    font-weight: bold;
}


.extra-link {
    color: #ffc0cb;
    text-decoration: none;
    font-size: 13px;
}

.extra-link:hover, .extra-link:active {
    color: #ffd4db;
    text-decoration: underline;
}

.extra-description {
    font-size:12px;
}

/*--------------------------------*/


.heading {
    color: white;
    font-size: 14px;
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid var(--colorHeadingBorder);
    background-color: var(--colorHeading);
}


.menu-blog-text {
    text-align: justify;
    padding: 0em 0.5em;
}


.menu-blog-part1 {
    padding-bottom: 0.5em;
}

.menu-blog-part2 {
    padding-bottom: 0.5em;
}

.menu-blog-part3 {
    padding-bottom: 0.5em;
}


.menu-blog {
    margin-bottom: 0.5em;
    width: 30.5em;
    max-width: 30.5em;
    overflow: auto;
}

/*--------------------------------*/


.menu-blog2 {
    margin-bottom: 0.5em;
    width: 30.5em;
    max-width: 30.5em;
    overflow: auto;
}

.menu-blog2-part1 {
    margin-bottom: 0.5em;
    padding: 1px 5px 0px 5px;
}

.menu-blog2-part2 {
    margin-bottom: 0.5em;
    padding: 1px 5px 0px 5px;
}



.menu-blog2-text {
    color: #fff;
}


.menu-blog2-position-margin {
    margin-bottom: 0.5em;
}

.menu-blog2-heading {
    text-align: center;
    color: #fff;
}

.menu-blog2-list {
    list-style-type: none;
    
}




.flex-box {
    display: flex;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-flow: row wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}


.flex-border {
    border: 1px solid var(--colorBorder);
    outline: 1px solid var(--colorOutline);
    border-radius: 5px;
}



li.palette1 {
    color:#5c9238;
}

li.palette2 {
    color:#1c669a;
}

li.palette3 {
    color:#de2a42;
}

li.palette4 {
    color:#ffcd4c;
}

li.palette5 {
    color:purple;
}

li.palette6 {
    color:orangered;
}