* {
    margin: 0;

    color: var(--colorText);
    text-shadow: 1px 1px 5px #555555;
    font-size: 15px;
    transition: 200ms;
    box-sizing: border-box;
}

/* HEADER FOOTER MAIN STUFF --------------------------------*/

header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--colorBorder);
    background-color: var(--colorHeader);
}



body {
    background-color: var(--colorBGBody);
}

main {
    padding: var(--mainPadding);
    /* background-color: white; /* debug */
}

.header-name-text {
    background-color: #8EC5FC;
    background-image: linear-gradient(
        62deg,
        #d04b36 0%,
        #d04b36 16.6666%,
        #e36511 16.6666%,
        #e36511 33.333%,
        #ffba00 33.333%,
        #ffba00 50%,
        #00b180 50%,
        #00b180 66.6666%,
        #147aab 66.6666%,
        #147aab 83.3333%,
        #675997 83.3333%,
        #675997 100%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    font-size: 20px;
}
.header-name-info {
    text-align: center;
    padding-bottom: 0.5em;
}

.header-list-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5em;
    background-color: var(--colorHeader);
}




/*--------------------------------*/


.heading {
    color: white;
    font-size: 14px;
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid var(--colorHeadingBorder);
    background-color: var(--colorHeading);
}


.menu-blog-text {
    text-align: justify;
    padding: 0em 0.5em;
}


.menu-blog-part1 {
    padding-bottom: 0.5em;
}

.menu-blog-part2 {
    padding-bottom: 0.5em;
}

.menu-blog-part3 {
    margin-bottom: 0.5em;
    padding: 1px 5px 0px 5px;
}


.menu-blog {
    margin-bottom: 0.5em;
    width: 30.5em;
    max-width: 30.5em;
    overflow: auto;
}

/*--------------------------------*/


.menu-blog2 {
    margin-bottom: 0.5em;
    width: 30.5em;
    max-width: 30.5em;
    overflow: auto;
}

.menu-blog2-part1 {
    margin-bottom: 0.5em;
    padding: 1px 5px 0px 5px;
}

.menu-blog2-part2 {
    margin-bottom: 0.5em;
    padding: 1px 5px 0px 5px;
}



.menu-blog2-text {
    color: #fff;
}


.menu-blog2-position-margin {
    margin-bottom: 0.5em;
}

.menu-blog2-heading {
    text-align: center;
    color: #fff;
}

.menu-blog2-list {
    list-style-type: none;
    
}




.flex-box {
    display: flex;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-flow: row wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}


.flex-border {
    border: 1px solid var(--colorBorder);
    outline: 1px solid var(--colorOutline);
    border-radius: 5px;
}



li.palette1 {
    color:#5c9238;
}

li.palette2 {
    color:#1c669a;
}

li.palette3 {
    color:#de2a42;
}

li.palette4 {
    color:#ffcd4c;
}

li.palette5 {
    color:purple;
}

li.palette6 {
    color:orangered;
}

li.palette7 {
    color: rgb(0, 255, 0);
}

li.palette8 {
    color: rgb(255, 165, 0) ;
}

li.palette9 {
    color: rgb(255, 0, 0);
}
